#splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFCB54;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 3s;
}

#splash img {
    max-width: none;
    max-height: none;
    width: 50%;
    margin: auto;
    display: block;
}


#splash.hide {
    opacity: 0;
}
