@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap');

body{
    font-family: 'Manrope', sans-serif;
    font-weight: 400; /* regular*/
    font-size: 40px;
    color:white;
    background: #333333;
}

.title {
    font-family: 'Manrope', sans-serif;
    font-weight: 700; /*bold*/
    font-size: 30px; /*usar os titulos com a tag h1 pra ficar bom*/ 
    text-align: center;
    color:white;

}

.subtitle  {
    font-family: 'Manrope', sans-serif;
    font-weight: 600; /*semi-bold*/
    font-size: 50px;
    color:white;
}

.perfil {
    font-family: 'Manrope', sans-serif;
    color: white;
}

#abel  {
    width: 200px;
    height: 200px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

.ajustes {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
}
  
